<div class="row">
  <div class="col">
    <div class="form-group">
      <label class="form-checkbox form-inline" for="pagination">
        <input
          type="checkbox"
          id="pagination"
          [checked]="true"
          (change)="toggle('paginationEnabled', $event)"
        />
        Pagination
      </label>
      <label class="form-checkbox form-inline" for="search">
        <input
          type="checkbox"
          id="search"
          [checked]="true"
          (change)="toggle('searchEnabled', $event)"
        />
        Search
      </label>
      <label class="form-checkbox form-inline" for="collapse">
        <input type="checkbox" id="collapse" (change)="toggle('collapseAllRows', $event)" />
        Collapse rows
      </label>
      <label class="form-checkbox form-inline" for="checkbox-is-loading">
        <input type="checkbox" id="checkbox-is-loading" (change)="toggle('isLoading', $event)" />
        Is loading
      </label>
      <label class="form-checkbox form-inline" for="checkboxes">
        <input type="checkbox" id="checkboxes" (change)="toggle('checkboxes', $event)" />
        Checkboxes
      </label>
      <label class="form-checkbox form-inline">
        <input
          type="checkbox"
          id="checkbox-fixedColumnWidth"
          (change)="toggle('fixedColumnWidth', $event)"
        />
        Fixed column
      </label>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column col-12">
    <ngx-table
      [configuration]="configuration"
      [detailsTemplate]="detailsTemplate"
      [data]="data"
      [columns]="columns"
    >
    </ngx-table>
  </div>
</div>
<ng-template #detailsTemplate let-row>
  <div>
    <h2>{{ row.phone }}</h2>
    <h5>{{ row.name }} - {{ row.age }}</h5>
  </div>
</ng-template>
