<div class="columns">
  <div class="column col-12">
    <ngx-table [configuration]="configuration" [data]="data" #table [columns]="columns">
    </ngx-table>
  </div>
</div>

<ng-template #levelHeaderActionTemplate>
  <div class="level-template">
    <label class="form-checkbox position">
      <input
        type="checkbox"
        [checked]="selectedLevels.has('High')"
        (change)="filter('level', 'High')"
      />
      <em class="form-icon"></em> High
    </label>
    <label class="form-checkbox position">
      <input
        type="checkbox"
        [checked]="selectedLevels.has('Medium')"
        (change)="filter('level', 'Medium')"
      />
      <em class="form-icon"></em> Medium
    </label>
    <label class="form-checkbox position">
      <input
        type="checkbox"
        [checked]="selectedLevels.has('Low')"
        (change)="filter('level', 'Low')"
      />
      <em class="form-icon"></em> Low
    </label>
  </div>
</ng-template>
<ng-template #companyHeaderActionTemplate>
  <div class="search-template">
    <label for="filterHeaderSearch">
      Search
    </label>
    <input
      class="form-input"
      id="filterHeaderSearch"
      [value]="selectedCompany"
      (input)="filter('company', $event.target.value)"
      type="search"
      placeholder="Search"
    />
  </div>
</ng-template>
