<small>
  Turn on Browser mobile view and see how it works.
</small>
<div class="columns mt-2">
  <div class="column col-12">
    <ngx-table
      [configuration]="configuration"
      [data]="data"
      #table
      [detailsTemplate]="detailsTemplate"
      [columns]="columns">
      <ng-template let-row let-index="index">
        <td *ngIf="!isMobile">
          {{row.phone}}
        </td>
        <td *ngIf="!isMobile">
          {{row.age}}
        </td>
        <td>
          {{row.company}}
        </td>
        <td *ngIf="!isMobile">
          {{row.name}}
        </td>
        <td *ngIf="!isMobile">
          {{row.isActive}}
        </td>
        <td *ngIf="isMobile">
          <button class="btn btn-primary"
                  id="expandButton-{{index}}"
                  (click)="onRowClickEvent($event, index)">
            <i class="icon icon-arrow-left" *ngIf="!toggledRows.has(index)"></i>
            <i class="icon icon-arrow-down" *ngIf="toggledRows.has(index)"></i>
            Details
          </button>
        </td>
      </ng-template>
    </ngx-table>
    <ng-template #detailsTemplate let-row>
      <div>
        <h2>{{row.phone }}</h2>
        {{row.name }} - {{row.age}}
      </div>
    </ng-template>
  </div>
</div>
