<div class="columns">
  <div class="column col-12">
    <div class="form-group">
      <label class="form-checkbox form-inline">
        <input type="checkbox" (change)="borderless()" />
        <i class="form-icon"></i> Borderless
      </label>
      <label class="form-checkbox form-inline">
        <input type="checkbox" [checked]="true" (change)="hoverable()" />
        <i class="form-icon"></i> Hover
      </label>
      <label class="form-checkbox form-inline">
        <input type="checkbox" (change)="striped()" />
        <i class="form-icon"></i> Striped
      </label>
      <div class="form-group">
        <label class="form-radio form-inline">
          <input type="radio" name="height" (change)="setHeight('tiny')" />
          <i class="form-icon"></i> Style small
        </label>
        <label class="form-radio form-inline">
          <input type="radio" name="height" checked (change)="setHeight('normal')" />
          <i class="form-icon"></i> Style normal
        </label>
      </div>
      <div class="form-group">
        <label class="form-radio form-inline">
          <input type="radio" name="style" checked (change)="setTheme('light')" />
          <i class="form-icon"></i> Light
        </label>
        <label class="form-radio form-inline">
          <input type="radio" name="style" (change)="setTheme('dark')" />
          <i class="form-icon"></i> Dark
        </label>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column col-12">
    <ngx-table [configuration]="configuration" [data]="data" [columns]="columns"> </ngx-table>
  </div>
</div>
