<div class="row">
  <div class="col mb-2">
    <button (click)="appendRow()" id="append-row-button" class="btn btn-primary me-2">
      Append row
    </button>
    <button (click)="prependRow()" id="prepend-row-button" class="btn btn-primary">
      Prepend row
    </button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ngx-table [configuration]="configuration" [data]="data" [columns]="columns"> </ngx-table>
  </div>
</div>
<ng-template #actionTpl let-row let-rowIndex="rowIndex">
  <div class="btn btn-primary" (click)="remove(rowIndex)">Remove</div>
</ng-template>
