<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ngx-easy-table</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <div>
          <button
            class="btn btn-link"
            type="button"
            (click)="showMenu = !showMenu"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBothOptions"
            aria-controls="offcanvasWithBothOptions"
          >
            Show menu
          </button>
        </div>
        <div class="d-flex">Version: {{ version }}</div>
        <div>
          <a
            href="https://github.com/ssuperczynski/ngx-easy-table"
            target="_blank"
            rel="noreferrer"
            class="btn btn-link"
            >GitHub
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <label class="form-label">
        <input
          class="form-control m-2"
          type="search"
          [(ngModel)]="searchTerm"
          (keydown)="onMenuSearch($event)"
          id="menu-search"
          placeholder="Search"
        />
      </label>
      <nav class="bd-links overflow-scroll" style="max-height: 100vh">
        <ul class="list-unstyled fw-normal pb-2 small">
          <li>
            <a
              href="#"
              class="bd-links-link d-inline-block rounded"
              [routerLink]="['/landing']"
              (click)="select({ link: 'landing', name: 'Site' })"
              id="landing"
            >
              <i class="icon icon-link"></i> Site
            </a>
          </li>
          <li>
            <a
              href="#"
              [routerLink]="['/installation']"
              class="bd-links-link d-inline-block rounded"
              (click)="select({ link: 'installation', name: 'Installation' })"
              id="installation"
            >
              <i class="icon icon-link"></i> Installation
            </a>
          </li>
          <li>
            <a
              href="#"
              class="bd-links-link d-inline-block rounded"
              [routerLink]="['/api-doc']"
              (click)="select({ link: 'api-doc', name: 'API doc' })"
              id="api-doc"
            >
              <i class="icon icon-link"></i> API doc
            </a>
          </li>
          <li>
            <a
              href="#"
              class="bd-links-link d-inline-block rounded"
              [routerLink]="['/doc']"
              (click)="select({ link: 'doc', name: 'Doc' })"
              id="doc"
            >
              <i class="icon icon-link"></i> Doc
            </a>
          </li>
        </ul>
        <ul class="list-unstyled mb-0 pb-3 pb-md-2" *ngFor="let position of menu | keyvalue">
          <!--            <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">-->
          <!--              {{ position.key }}-->
          <!--            </strong>-->
          <li *ngFor="let row of position.value | menuSearch: searchTerm">
            <ul class="list-unstyled fw-normal pb-2 small">
              <li>
                <a
                  href="#"
                  [routerLink]="[row.link]"
                  id="{{ row.link }}"
                  class="bd-links-link d-inline-block rounded"
                >
                  <i class="icon icon-link"></i> {{ row.name }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-10">
      <div *ngIf="selected && !excludedLinks">
        <h3 class="d-inline">{{ selected.name }}</h3>
        <a
          class="btn btn-link d-inline"
          rel="noreferrer"
          href="https://github.com/ssuperczynski/ngx-easy-table/tree/master/src/app/demo/{{
            selected.link
          }}/{{ selected.link }}.component.ts"
          target="_blank"
        >
          See code here
        </a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
