::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.bd-links-link {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  color: var(--bs-body-color);
  text-decoration: none;
}
.bd-links-link:hover,
.bd-links-link:focus,
.bd-links-link.active {
  color: #000;
  background-color: #712cf91a;
}
