// Required
@import '../node_modules/bootstrap/scss/functions';

// Default variable overrides
//$body-bg: #000;
//$body-color: #111;

// Required
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
//@import '../node_modules/bootstrap/scss/helpers'; // TODO check if needed
//@import '../node_modules/bootstrap/scss/utilities'; // TODO check if needed
@import '../node_modules/bootstrap/scss/root';

// Optional Bootstrap components here
//@import '../node_modules/bootstrap/scss/buttons';
//@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/accordion';
@import '../node_modules/bootstrap/scss/dropdown';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/offcanvas';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/tables';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

$grey: #e7e9ed;
$grey-lighter: #f6f7f9;
$grey-dark: #f3f3f3;
$dark: #50596c;
$blue: #3f86ca;
$primary-color: #50596c !default;
.ngx {
  &-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 0.345rem;
    padding: 0.5rem;
    border: 1px solid #dee2e6;
  }

  &-table__horizontal-scroll {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 3px;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: grey;
    }
  }

  &-icon {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    height: 1em;
    position: relative;
    text-indent: -9999px;
    vertical-align: middle;
    width: 1em;

    &::before,
    &::after {
      content: '';
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-icon-arrow-down::before,
  &-icon-arrow-right::before,
  &-icon-arrow-up::before {
    border: 0.1rem solid $dark;
    border-bottom: 0;
    border-right: 0;
    height: 0.65em;
    width: 0.65em;
  }

  &-icon-arrow-down::before {
    transform: translate(-50%, -75%) rotate(225deg);
  }

  &-icon-arrow-right::before {
    transform: translate(-75%, -50%) rotate(135deg);
  }

  &-icon-arrow-up::before {
    transform: translate(-50%, -25%) rotate(45deg);
  }

  &-icon-menu::before {
    background: $dark;
    box-shadow:
      0 -0.35em,
      0 0.35em;
    content: '';
    height: 0.1rem;
    width: 100%;
  }

  &-icon-pin {
    border-radius: 50%;
    border: 4px solid $dark;
    width: 11px;
    height: 11px;
  }

  &-icon-more::before {
    background: $dark;
    border-radius: 50%;
    box-shadow:
      0 -0.4em,
      0 0.4em;
    height: 3px;
    width: 3px;
  }

  &-table {
    &__header-title {
      display: inline;
    }
  }

  &__table-no-results {
    text-align: center;
  }
}

.pointer {
  cursor: pointer;
}

.ngx-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgba(255, 255, 255);
  padding: 6px 0;
}

//  &-table {
//    &__table-row--selected,
//    &__table-col--selected,
//    &__table-cell--selected {
//      background: $grey !important;
//    }
//

//
//    &__table-loader-wrapper {
//      display: flex;
//      justify-content: center;
//      margin-top: 50px;
//    }
//
//    &__body-loading:hover {
//      background: 0 !important;
//    }
//
//    &__table-loader {
//      animation: spin 0.6s linear infinite;
//      border: 1px solid $grey;
//      border-radius: 50%;
//      border-top-color: $primary-color;
//      height: 1.8rem;
//      width: 1.8rem;
//    }
//
//    &__body-empty {
//    }
//
//
//    &__column-resizer {
//      background-color: $grey;
//      cursor: col-resize;
//      display: block;
//      height: 20px;
//      margin-top: 10px;
//      position: absolute;
//      padding: 0;
//      right: 0;
//      top: 0;
//      width: 2px;
//    }
//
//  }
//
//
//  &-btn-group {
//    display: inline;
//  }
//}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 1px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: white;
  padding-top: 9px;
  padding-left: 4px;
  display: table;
  table-layout: fixed;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.ngx-draggable-row-area.cdk-drop-list-dragging .ngx-draggable-row:not(.cdk-drag-placeholder) {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.ngx-table__header-cell--draggable {
  cursor: move;
  background-color: white;
}

.ngx-table__header--draggable.cdk-drop-list-dragging
  .ngx-table__header-cell--draggable:not(.cdk-drag-placeholder) {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.pinned-left {
  position: sticky;
  z-index: 1;
  background-color: white;
  box-shadow: 2px 0 0 rgba(gray, 0.175);
}

.ngx-infinite-scroll-viewport {
  display: block;
  height: 250px;
  overflow: auto;
}

.ngx-infinite-scroll-viewport tr,
.ngx-infinite-scroll-viewport-thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}
