<div class="columns">
	<div class="column col-12">
		<div class="form-group">
			<label class="form-checkbox form-inline">
        <input type="checkbox" [checked]="true" (change)="toggle('phone')">
        <em class="form-icon"></em> phone
      </label>
      <label class="form-checkbox form-inline" for="ageCheckbox">
        <input type="checkbox" [checked]="true"
               id="ageCheckbox"
               (change)="toggle('age')">
        <em class="form-icon"></em> age
      </label>
      <label class="form-checkbox form-inline">
        <input type="checkbox" [checked]="true" (change)="toggle('company')">
        <em class="form-icon"></em> company
      </label>
      <label class="form-checkbox form-inline">
        <input type="checkbox" [checked]="true" (change)="toggle('name')">
        <em class="form-icon"></em> name
      </label>
      <label class="form-checkbox form-inline">
        <input type="checkbox" [checked]="true" (change)="toggle('isActive')">
        <em class="form-icon"></em> active
      </label>
		</div>
	</div>
</div>
<div class="columns">
	<div class="column col-12">
		<ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
		</ngx-table>
	</div>
</div>
