<div class="columns">
  <div class="column col-12">
    <ngx-table
      [data]="data"
      #table
      [configuration]="configuration"
      [rowContextMenu]="rowContextMenu"
      [columns]="columns"
    >
    </ngx-table>
  </div>
</div>
<ng-template #rowContextMenu let-object>
  <span (click)="editCell(object)">Edit cell</span>
  <span (click)="showDetails(object)">Show details</span>
</ng-template>
<ng-template #phoneTpl let-row let-rowIndex="rowIndex">
  <div class="phone" *ngIf="edit !== rowIndex">Phone: {{ row.phone }}</div>
  <div *ngIf="edit === rowIndex">
    <input type="text" placeholder="Phone" class="form-label" [(ngModel)]="phone" />
    <button class="btn btn-sm" (click)="update(phone)">Save</button>
  </div>
</ng-template>
<div class="card mt-2" *ngIf="details">
  <div class="card-body">
    {{ JSON.stringify(details) }}
  </div>
</div>
