name: "Deploy"

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12.x'

      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: npm install
        run: npm ci

      - name: build demo
        run: npm run build

      - name: create tar
        run: tar -czvf dist.tar.gz dist

      - name: copy tar to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASS }}
          source: "dist.tar.gz"
          target: "/var/www/ngx-easy-table.eu/html/ngx-easy-table"

      - name: uncompress new files
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASS }}
          script: rm -rf /var/www/ngx-easy-table.eu/html/ngx-easy-table/dist && cd /var/www/ngx-easy-table.eu/html/ngx-easy-table && tar -xzvf dist.tar.gz
